* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  background-image: url("./background.jpg");
  background-size: cover;
  animation: colors 15s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}